<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eua Claire's Hair Salon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <nav class="d-flex justify-content-between">
      <div class="left">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Stylists", "Index", "Stylists")
        @Html.ActionLink("Clients", "Index", "Clients")
      </div>
      <div class="right pr-2">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class="d-flex align-items-center" }))
        {
          <input type="image" value="" src='~/images/search.svg' />
          @Html.TextBox("Search", null, "Home", new { name="search", type="text", placeholder=" Search…", value="", autocomplete="off", maxlength="240", @class="s-input s-input__search js-search-field" })
        }
      </div>
    </nav>
    <main class="container-fluid">
      <h1 class="pt-3">Welcome, Claire</h1>
      <h2 class="pb-3">Eau Claire's Hair Salon - Administration</h2>
      @RenderBody()
    </main>
  </body>
</html>
