@using HairSalon.Models;

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="card">
    <h3 class="p-2 border-bottom">Stylist Details - @Model["stylist"].Name</h3>

    <div class="container">
      @if (@Model["stylist"].Clients.Count == 0)
      {
        <h4 class="p-3">No Clients At This Time</h4>
      }
      else
      {
        <ol>
          @foreach (Client client in @Model["stylist"].Clients)
          {
            <li><a href='/clients/details/@client.ClientId'>@client.Name</a></li>
          }
        </ol>
      }
    </div>
  </div>
  <p>
    @Html.ActionLink("Add a new Client", "Create", "Clients", null, new { @class = "btn btn-info btn-block btn-lg" })
    @Html.ActionLink("Delete this Stylist", "Delete", "Stylists", new { id = @Model["stylist"].StylistId }, new { @class = "btn btn-info btn-block btn-lg btn-danger mt-0 delete-button" })
  </p>
</div>
