@model HairSalon.Models.Client;

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="card">
    <h3 class="p-2 border-bottom">Add a new Client</h3>

    <div class="container">
      @if (ViewBag.stylistsCount == 0)
      {
        <div class="container p3">
          <h4 class="pt-5">No Stylists!</h4>
          <h5 class="pb-5">Please add a stylist before you attempt to add a client.</h5>
        </div>
      }
      else
      {
        @using (Html.BeginForm())
        {
          @Html.LabelFor(model => model.Name)
          @Html.TextBoxFor(model => model.Name, new { @required = "required" })

          @Html.LabelFor(model => model.Stylist)
          @Html.DropDownList("StylistId")

          <input type="submit" class="btn btn-block btn-info mt-2 mb-2" value="Add Client" />
        }
      }
    </div>
    @if (ViewBag.stylistsCount == 0)
    {
      @Html.ActionLink("Add a new Stylist", "Create", "Stylists", null, new { @class = "btn btn-block btn-info btn-lg" })
    }
  </div>
</div>
